
<link rel="stylesheet" type="text/css" href="/css/adminlogin.css">
<div class="mainLogin">
        <div class="container" style="opacity: 80%;">
            <div class="login">
                <div class="row lgn">
                    <div class="col-md">
                        <form class="login-form" style="opacity: 100%" action="/admin/admin-login" method="POST">
                            <h4>PixelCart - Admin Login</h4>
                            <div class="form-group">
                                <input class="form-control user" name="email" type="text" placeholder="Email">
                                <i class="fa ic fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="form-group">
                                <input class="form-control pass" type="password" name="password" placeholder="Password" autocomplete="new-password">
                                <i class="fa ic fa-lock" aria-hidden="true"></i>
                            </div>
                            <input class="btn btn-light btn-block" type="submit" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/adminlogin.js"></script>


