<div style="display: flex;justify-content: space-between;">
    <h2 class="h3 mb-4 page-title">{{title}}</h2>
    <a href="/admin/logout"><button type="button" class="btn mb-2 btn-danger">Logout</button></a>
</div>