<div class="container">
    <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5 gap-5">
            <p>The page you are trying to access cannot be found at the moment   <a href="javascript:history.back()"><span class="btn-1 mt-5">Go Back</span></a></p>
            {{#if twilliofail}}
            <p>Error occurred during OTP generation, please use sebin@gmail.com as mail Id and 123 as password, this is due to the discontinuation of twillio service for OTP verification, you can use this verified fake mail Id and password for login and exploring the site, sorry for the inconvenience caused, thank you</p>
            {{/if}}
            <p>{{title}}</p>
            
            {{#if title}}
            {{else}}
            <div id="animationContainer" class=""></div>
            {{/if}}
        </div>
    </div>
</div>

<style>
    #animationContainer {
        width: 1800px;
        height: 300px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"
    integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const container = document.getElementById('animationContainer');
        const animation = lottie.loadAnimation({
            container: container,
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: '/images/animation_lk93ljwd.json'
        });
    });
</script>