<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/signupstyle.css">
    <title>PixelCart - Forgot Password</title>
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/forgotpasswordverify" method="POST">
                <h1>OTP verfication</h1>
                <input type="text" name="mobileNumber" placeholder="Mobile Number">
                <div>
                    <button>Send OTP</button>
                </div>

            </form>
        </div>
    </div>
    <script src="js/signup.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
</body>

</html>