<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="sie-edge" />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/signupstyle.css">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/verify" method="post">
                <h1>PixelCart-Create Account</h1>
            
                <input type="text" name="mobileNumber" placeholder="Mobile">
                
                <button>Verify</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST">
            {{#if loginErr}}
            <p class="text-white">Invalid UserName or Password</p>
            {{/if}}
                <h1>PixelCart-Log In</h1>
             
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <div>
                    <button>Log In</button>
                    <a href="/forgotpassword">Forgot Password</a>
                </div>
                
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back To PixelCart</h1>
                    <p>To keep connected with us please login </p>
                    <button class="ghost" id="signIn">Log In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Get Started With PixelCart</h1>
                    <p>Create an account using mobile number</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/signup.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
</body>

</html>
